@using EntityFrameworkCore.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<title>
    TESTE DA API PARA A TECHNOS
</title>

<style type="text/css">
    #form1 {
        width: 53%;
    }

    .list1 {
        float: left;
        margin: 2% 2% 0% 0%;
    }

    .float-container {
        border: 2px solid #fff;
        padding: 10px;
    }

    .float-child {
        width: 70%;
        float: left;
        padding: 10px;
        /* border: 2px solid red; */
    }

    .btn1 {
        float: left;
        margin: 4% 0% 25% 30%;
        width: 40%;
    }
</style>

<form class="container" id="form1">

    <div class="form-group">
        <label for="lblNome">Nome do produto</label>
        <input type="text" class="form-control" id="pNome" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <label for="lblCodigo">Codigo</label>
        <input type="text" class="form-control" id="pCodigo">
    </div>


    <div class="form-group">
        <label for="lblDescricao">Descricao</label>
        <input type="text" class="form-control" id="pDescricao">
    </div>

    <div class="form-group">
        <label for="lblLancamento">Data de Lançamento</label>
        <input type="date" class="form-control" id="pLancamento">
    </div>

    <div class="form-group">
        <label for="lblPreco">Preco</label>
        <input type="number" class="form-control" id="pPreco">
    </div>

    <div class="form-group">
        <label class="float-left" for="lblToken">Token</label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="pToken" placeholder='Gera um token para ser utilizado na comunicação com o Cadastro' style="float: left; width: 80%; margin: 0% 3% 0% 0%;">
        <button type="button" onclick="getToken()" class="btn btn-success" style="float: left">GetToken</button>
    </div>
    
        <div class="form-group list1">
            <label for="lblTipo">Tipo de produto</label>
            <select id="tipos">
                @foreach (var list in ViewBag.TipoProdutos)
                {
                    <option value="@list.Id">@list.Nome</option>
                }
            </select>
        </div>

        <div class="form-group list1">
            <label for="lblMarca">Marca do produto</label>
            <select id="marcas">
                @foreach (var list in ViewBag.Marcas)
                {
                    <option value="@list.Id">@list.Nome</option>
                }
            </select>
        </div>

        <button type="button" onclick="enviarForm()" class="btn btn-primary btn1">Enviar</button>

</form>

<script>
    function getToken() {
        $.ajax(
            {
                url: "api/Cadastro/GetToken",
                data: {},
                type: "GET",
                headers: {
                    "Authorization": "Bearer " + $("#pToken").val(),
                    "Content-Type": "application/json"
                },
                beforeSend: function () {
                    $.blockUI({ message: '<h2><img src="../img/ajax-loader.gif" />...</h2>' });
                    setTimeout(function () {
                        $.unblockUI();
                    }, 6000);
                },
                success: function (data) {
                    $("#pToken").val(data.token);
                    $.unblockUI();
                },
                error: function (data) {
                    alert(data.mensagem + "<br>" + data.statusCode);
                    $.unblockUI();
                }
            });
    }

    function enviarForm() {
        
        var json = JSON.stringify({
            "Nome": $("#pNome").val(),
            "Codigo": $("#pCodigo").val(),
            "Descricao": $("#pDescricao").val(),
            "DataLancamento": $("#pLancamento").val(),
            "Preco": $("#pPreco").val(),
            "PrecoId": $("#precos").val(),
            "TipoProdutoId": $("#tipos").val(),
            "MarcaId": $("#marcas").val()
        });
            
        $.ajax(
            {
                url: "api/Cadastro/CadastrarProdutos",
                data: json,
                type: "POST",
                headers: {
                    "Authorization": "Bearer " + $("#pToken").val(),
                    "Content-Type": "application/json"
                },
                beforeSend: function () {
                    $.blockUI({ message: '<h2><img src="../img/ajax-loader.gif" />...</h2>' });
                    setTimeout(function() {
                        $.unblockUI();
                    }, 8000);
                },
                success: function (data) {
                    alert(data.mensagem + "<br>" + data.statusCode);
                    $.unblockUI();
                },
                error: function(data) {
                    alert(data.mensagem + "<br>" + data.statusCode);
                    $.unblockUI();
                }
            });
    }
</script>




